
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>!</h1>
    <p>
      Thanks for signing up!<br/>
      Although BeerPal isn't a real business(yet?!), it is a real app!<br/><br/>
      My aim is to share my rad skills with all of my site visitors, I hope you like them.<br/>
      Check out my personal site to learn more about me :)
      <br/>
      <%= @url_personal %>
    </p>
    <p>Thanks for stopping by!</p>
    <p>Sarah</p>
  </body>
</html>
