//
// html, body, header, nav, h1, h2, h3, a,
// ul, li, main, button, i,
// section, img, div, p, form,
// fieldset, label, input, textarea,
// span, article, footer, time {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: 0;
//   font: inherit;
//   color: inherit;
//   text-align: inherit;
//   text-decoration: inherit;
//   vertical-align: inherit;
//   box-sizing: inherit;
//   background: transparent;
// }
//

button, a, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
}
ul {
  list-style: none;
}
//
// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }
//
// input[type="password"],
// input[type="email"],
// input[type="text"],
// input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  letter-spacing: 2px;
}
