.barBeerIndexList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 70%;
  justify-content:flex-start;
}

.barBeerIndexListItem{
  height: 250px;
  width: 190px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 5px;
}

.barBeerIndexItem {
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  text-align: center
}

.beer-img {
  height: 175px;
  width: 100%;
}
