.DealIndexList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
  padding: 10px;
}

.DealIndexListItem{
  height: 250px;
  width: 190px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.DealIndexItem {
  text-transform: none;
  font-weight: 600;
  text-align: center;
}

.beer-img {
  height: 150px;
  width: 100%;
}

.DealIndexHeader {
  border-radius: 5px 5px 0 0;
  color: white;
  background-color: #FE422D;
  font-size: 16px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.DealIndexItem > div> p {
  text-align: center;
}
.beer-description, .barName, .barAddress{
  text-align: left;
  text-transform: none;
  margin: 0;
  width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.beer-description {
  padding: 8px 15px 3px;
  font-size: 14px;
  color: #FE422D;
  margin: 0;
}

.barName {
  padding: 3px 15px 3px;
  font-size: 14px;
  color: gray;
}

.barAddress {
  font-size: 10px;
  color: grayscale(gray);
  padding: 0 15px 15px;
  border-radius: 0 0 6px 6px;
}

.DealIndexListItem:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  transform: scale(1.025);
  transition: all .1s ease;
}
.DealIndexListItem:hover .fadeBox{
  display: block;
}
.DealIndexListItem:hover .DealIndexItem{
  display: none;
}
.fadeBox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,100%,.8);
  background: linear-gradient(180,hsla(0,0%,100%,.99), hsla(0,0%,100%,.5));
  color: #4a4a4a;
  border-radius: 5px;
  z-index: 5;
}

#hover-detail {
  padding: 3px 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.heart-icon {
  height: 20px;
  width: 20px;
  align-self: flex-end;
}

.heart-icon-o {
  height: 20px;
  width: 20px;
  align-self: flex-end;
}

.reservation-modal button {
  background-color: #430098;
  border-radius: 0;
  color: #fff;
  letter-spacing: 0;
  margin-top: 10px;
  padding: 10px 0;
  text-transform: uppercase;
  width: calc(100% - 50px);
  text-align: center;
  font-weight: 700;
}

.reservation-modal {
  padding: 40px 25px 16px;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.deal-beer-name{
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 500;
  padding-right: 25px;
}

.deal-beer-description {
  margin-top: 8px;
  max-height: 80px;
  color: #4a4a4a;
  font-size: 14px;
  text-transform: none;
}

.deal-details, .bar-details {
  padding: 20px 25px 16px;
}

.bar-description, .bar-name {
  color: #4a4a4a;
  text-transform: none;
}

.bar-name {
  font-size: 14px;
  font-weight: 500;
}
.bar-description {
  font-size: 12px;
}
