.weekday-container {
  width: 100%;
  height: 35px;
  color: white;
  background-color: #fe422d;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.filter-wrapper {
  background-color: #dfd9d8;
  width: 100%;
  padding: 0 5px;
}

.filter-bar {
  background-color: #dfd9d8;
  padding: 20px;
  height: 30px;
  display: flex;
  display: row;
  justify-content: flex-start;
  z-index: 1;
}

.search-fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.search-filters {
  width: 80%;
  height: 35px;
}

.filter-bar input {
  padding: 4px 7px;
  width: 80%;
  height: 100%;
  border: none;
  text-transform: none;
}

.filter-bar button {
  width: 10px;
}

.bar-search, .beer-search {
  background: #fff;
  border: 1px solid #c0bcbb;
  height: 30px;
  text-align: left;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .5px;
  font-weight: 700;
  width: 100%;
  margin: 0 20px;
}

.search-form {
  height: 100%;
}

.search-form > input {
  height: calc(100% - 8px);
  width: calc(100% - 14px);
}
.bar-search, .beer-search {
  height: 100%;
}
