// testing
// * {
//   border: 1px solid blue;
// }

div {
  font-size: 14px;
}
 p {
   margin: 0 auto;
 }
 h3 {
   text-align: center;
   justify-content: center;
 }
 body {
   margin: 71.5px 0 0 0;
   padding: 0;
 }

.content {
  text-align: center;
  margin: 0 auto;
}

.main-content-invite {
  background-image: image-url("landing-page-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-bottom: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25px;
}

.invite-form {
  display: flex;
  align-items:flex-start;
}

.section-title{
  font-size: 40px;
  border-bottom: 4px solid #00b3ec;
  color: #5d5a58;
}
.main-info {
  height: 430px;
  padding: 40px 0px;
  border-bottom: 10px solid #f2f0ef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-info> div {
  width: 30%;
  text-align: center
}

.icon {
  height: 120px;
  width: 120px;
}
.robot-info {
  height: 70px;
  padding: 20px 0px;
  border-top: 10px solid white;
  background: #f2f0ef;
}

.map-container {
  height: 650px;
  padding: 40px 0px;
  border-top: 10px solid #00b3ec;
  background: #bee9f7;
}
 .map-column {
   display: flex;
   flex-direction: column;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 30px;
   justify-content: center;
 }

 .map-location {
   height: 80px;
   align-content: center;
   text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
 }
.map {
  height: 500px;
  width: 100%;
  border: 5px solid #00b3ec;
}

.spotlight-content {
  height: 410px;
  padding: 30px 15px;
  background-color: #FE422D;
}

.plans-container {
  height: 555px;
  padding: 40px 0px;
  border-top: 10px solid #00b3ec;
  background: #f2f0ef;
}

.bottom-invite {
  height: 150px;
  padding: 40px 0px;
  background: #00b3ec;
}
