// testing
// * {
//   border: 1px solid blue;
// }

div {
  font-size: 14px;
}
p {
  margin: 0 auto;
}
h3 {
  text-align: center;
  justify-content: center;
}
body {
  margin: 60px 0 0 0;
  padding: 0;
}

.content {
  text-align: center;
  margin: 0 auto;
}

.main-content-invite {
  background-image: image-url("landing-page-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  padding-bottom: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25px;
}

.invite {
  display: block;
}

.invite h2, .invite h3, .invite-form {
  display: block;
  letter-spacing: 3px;
  text-align: left;
  color: white;
}

.invite h2 {
  font-size: 30px;
  margin: 0;
  text-shadow: 2px 2px black;
}
.invite-form input {
  height: 40px;
  width: 280px;
  border: 0;
  padding: 0;
  border-radius: 3px;
  padding-left: 15px;
}
.invite-form > input {
  display: block;
  width: 480px;
  margin: 10px 0;
}
.invite-form > div {
  display: inline-block;
}

.invite-form button {
  width: 186px;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 14px;
  background-color: #430098;
  margin-left: 14px;
}
.section-title{
  font-size: 40px;
  border-bottom: 4px solid #00b3ec;
  color: #333;
  font-weight: 400;
}

.content > h4 {
  margin-top: 40px;
}

.column-text {
  color: #5D5A58;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.2px;
  width: 100%;
}
.main-info {
  height: 364px;
  padding: 40px;
  border-bottom: 10px solid #f2f0ef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-info > div {
  width: 250px;
  text-align: center;
}

.main-info > div > h4 {
  color: #FF4338;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-info > div > p {
  text-transform: none;
}

.icon {
  height: 120px;
  width: 120px;
}

.robot-info {
  height: 150px;
  padding: 20px 0px;
  border-top: 10px solid white;
  background: #f2f0ef;
  display: flex;
  justify-content:center;
}

.robot-img {
  height: 150px;
  width: 120px;
}

.robot-orange {
  height: 160px;
  width: 160px;
  margin: 0 30px;
}

.robot-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.robot-text h3{
  text-align: left;
  color: #FF4338;
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 3px;
}

.robot-text p {
  text-align: left;
  color: #5D5A58;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  margin: 10px auto;
  line-height: 1.5;
}

.map-container {
  height: 650px;
  padding: 40px 0px;
  border-top: 10px solid #00b3ec;
  background: #bee9f7;
}
 .map-column {
   display: flex;
   flex-direction: column;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 30px;
   justify-content: center;
 }

 .map-location {
   height: 80px;
   align-content: center;
   text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
 }

 .map-location > p {
   margin: 0 20px;
 }
.map {
  height: 500px;
  width: 100%;
  border: 5px solid #00b3ec;
}

.map > .happyhour-map > #map-container {
  height: 500px;
  width: 100%;
}

.spotlight-content {
  height: 410px;
  padding: 30px 15px;
  background-color: #FE422D;
}

.plans-container {
  height: 555px;
  padding: 40px 0px;
  border-top: 10px solid #00b3ec;
  background: #f2f0ef;
}

.bottom-invite {
  height: 150px;
  padding: 40px 25px;
  background: #57C6E8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-invite-form {
  width: 495px;
}
