#map-container {
  width: 267px;
  height: 704px;
}

.user-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.map-side {
  display: inline-block;
  max-width: 25%;
}

.deal-side {
  display: inline-block;
  max-width: 70%;
}

.browse-pane {
  display: block;
}
