.happyhour-map > #map-container {
  width: 267px;
  height: 704px;
}

.user-pane {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.map-side {
  max-width: 30%;
  position: sticky;
  top: 60px;
}

.hide {
  display: none;
}

.deal-side {
  display: inline-block;
  margin: 0 auto;
}

.browse-pane {
  display: block;
}

.happyhour-map {
  position: sticky;
  top: 60px;
}

.map-hide-div {
  position: sticky;
  top: 60px;
  height: 704px;
  border-left: 1px solid #dfd9d8;
  border-right: 1px solid #dfd9d8;
}

.map-hide-button {
  height: 100%;
  width: 25px;
  text-align: center;
  color: #57C6E8;
  font-size: 20px;
}

.hidden {
  transform: rotate(180deg);
  transition: all .5s ease;
}
