.my-reservations, .happy-hour-list{
  margin: 0 auto;
  width: 70%;
  padding: 30px 0;
}
.my-reservations h3, .reservation-history h3{
  font-size: 28px;
  font-weight: 700;
}

.delete-reservation button {
  background-color: #430098;
  border-radius: 0;
  color: #fff;
  letter-spacing: 0;
  margin-top: 10px;
  padding: 10px 0;
  text-transform: uppercase;
  width: calc(100% - 50px);
  text-align: center;
  font-weight: 700;
}

.reservation-history {
  padding: 40px;
}
