.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #FE422D;
}

.nav-bar div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar div a{
  margin: 10px;
  text-align: center;
}

.nav-bar button{
  margin: 10px;
  text-align: center;
  border: none;
}

.nav-bar h3 {
  margin: auto 0;
}
